body {
  margin: 0;
}

.nav-container{
  margin:0 ;
  padding:0;
  height : 10vh;
  width: auto;
  background-color: 	#046169;
  display: flex;
  justify-content : flex-start;
}
.nav-container img{
  margin: 0 20px;
  cursor:pointer;
}

.nav-ul{
  list-style : none;
  display: flex; 
}
.nav-ul li{
  color: #ffffff;
  margin: 0 40px;
  font-weight: 800;
  font-size: 28px;
  cursor:pointer;
}

.nav-ul li:hover{
  /* transition:  */
  color: black;
}